<form (ngSubmit)="submitQuote()" #quoteForm="ngForm">
  <div class="form-group">
    <label for="theQuote">The Quote</label>
    <textarea class="form-control" rows="8" id="theQuote" [(ngModel)]="newQuote.theQuote" name="theQuote" #theQuote="ngModel" required></textarea>
    <div [hidden]="theQuote.valid || theQuote.pristine">
      <p> The Quote is Required</p>

    </div>
  </div>

  <div class="form-group">
    <label for="quoteauthor">Author's Name</label>
    <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.quoteauthor" name="name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      <p>Author's Name is Required</p>

    </div>
  </div>
  <button type="submit" name="button">Add Quote</button>
</form>