.container{
  text-align: center !important;

}
form{
display: inline-block;
background-position: relative;
  width: 50% !important;
  margin-bottom: 5%;
  margin-top: 5%;
  background-color: rgba(66, 178, 41, 0.5);
  padding: 20px;
  box-shadow: 0 0 10px black;
  border-radius: 50px;
}
form:hover{
  box-shadow: 0 0 10px white;
}
p{
  font-family: 'Montserrat Alternates', sans-serif;
}
label{
  font-family: 'Roboto Slab', serif;
}
